*{
    text-align: center; 
}

body{
    background-color: grey;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 35px;
    color: #AEAAAA;
    margin-top: 40px; /* add some space between the title and the rest of the content */
    margin-bottom: 20px;
    text-align: center;
    }

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    color: #333;
    margin-top: 50px; /* add some space between the title and the rest of the content */
    }


 .car-box {
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 10px;
    border: 1px solid black;
    background-color:white;
    border-radius: 10px;
    opacity:90%;
    width: 230px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center; 
    }

.car-image {
    width: 200px;
    height: 150px;
    margin-bottom: 10px;
    
    }


.button{
    margin-bottom: px;
    border-radius: 10px;
    width: 150px;
    height: 50px;
  
    border: none;
    color:white;
    text-transform: uppercase;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: transform 0.2s ease-in-out;
    background-color: #333;
    cursor: pointer;
        
}
        
.button:hover{
    transform: scale(1.2);
}


.row{
    /* width: 200px; */
    height: 100px;
    margin: auto;
    display: block;
   
}

label{
    font-weight: bold;
    font-size: 25px;
    color: #333;
    display: block;
    /* margin-right: 20px; */
    margin-bottom: 10px;
    text-align: center;
}

.info:focus{
    transform: scale(1.2);
    outline: none;
    box-shadow: 0px 7px 8px rgba(118, 103, 103, 0.684);
}

.info{
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    border-color: #0f0352;
    width: 375px;
}

.exisbutton{
    margin-bottom: px;
    border-radius: 10px;
    width: 350px;
    height: 50px;
  
    border: none;
    color:white;
    text-transform: uppercase;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: transform 0.2s ease-in-out;
    background-color: #7C7A7A;
    cursor: pointer;
        
}
        
.exisbutton:hover{
    transform: scale(1.2);
}

.buttonbottom{
    margin-bottom: 70px;
}

.new{
    font-size: 20px;
    color: #333;
    padding: 5px;
    border-radius: 20px;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    text-align: center; 
    height: 90px;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
    line-height: 60px;
    padding-right: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color:black;
    color: white;
    line-height:60px;
}

.navbar h1{
    color:white;
    float:right;
    padding-right: 30px;
    line-height:12px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
}

.reservation-container {
    display: inline-block;
    width: 30%;
    margin-right: 5%;
    vertical-align: top;
    background-color: #D3D3D3;
    border: 2px solid black;
    border-radius: 10px; 
    height:1000px;
  }
  
.reservation-container:last-child {
    margin-right: 0;
}
